.aside-socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  * + * {
    margin-bottom: 11px;
  }
}

.aside-socials__text {
  font-size: 11px;
  color: #c3c2c7;
  font-weight: 500;
  font-family: "Geometria";
  text-align: center;
  transform: rotateZ(90deg);
  margin-bottom: 40px;
}
