.aside-socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  * + * {
    margin-bottom: 11px;
  }
}

.aside-socials__text {
  margin-bottom: 40px;
  

  color: rgb(195, 194, 199);

  transform: rotateZ(90deg);
}
