@use "abstracts" as *;

.burger-nav {
  display: none;

  @include mq(medium-m) {
    display: block;
  }
}

.burgermenu-toggle {
  display: block;

  position: relative;
  top: 50%;
  left: 50%;

  cursor: pointer;

  transform: translate(-50%, -50%);
}

.burgermenu-toggle span {
  display: block;

  position: relative;

  width: 33px;
  height: 4px;

  margin-bottom: 5px;

  border-radius: 3px;

  background: #cdcdcd;
}

.burgermenu {
  position: absolute;

  width: 400px;

  padding: 50px;

  background: #ededed;
  list-style-type: none;

  transform: translate(-100%, 0);
}

.burgermenu li {
  padding: 10px 0;

  &:hover {
    transform: scale(1.1);
  }
}

.burgermenu li a[data-language] {
  display: inline-block;
}
