.carousel {
  display: flex;
  align-items: flex-end;

  position: relative;

  width: 100%;
  height: 100%;
}

.carousel-track {
  display: flex;
}

.carousel-track__slide {
  position: absolute;
  top: 0;
  left: 0;

  width: 101%;
  height: 100%;

  background-position: -10px -10px;
  background-repeat: no-repeat;
  background-size: cover;

  transition: all ease 1s;

  &.invisible {
    opacity: 0;
  }

  &.hidden {
    display: none;
  }

  &:nth-of-type(1) {
    background-image: url(/images/slides/photo1.png);
  }

  &:nth-of-type(2) {
    background-image: url(/images/slides/photo2.png);
  }

  &:nth-of-type(3) {
    background-image: url(/images/slides/photo3.png);
  }
}

.carousel__button {
  position: absolute;
  z-index: 1000;

  height: calc(963px - 87px);

  padding: 0 22px;
}

.carousel__button:first-of-type {
  left: 0;
}

.carousel__button:last-of-type {
  right: 0;
}

.carousel__checkbox {
  position: absolute;
  bottom: 25px;
  right: 2px;
  z-index: 1000;
}

.status-bar {
  display: flex;
  justify-content: space-between;

  position: absolute;
  bottom: 22px;
  left: 50%;
  z-index: 100;

  height: 3px;

  transform: translateX(-50%);

  * + * {
    margin-left: 7px;
  }
}

.status-bar__item {
  width: 50px;
  height: 100%;

  background-color: var(--clr-gray);

  transition: all ease 1s;

  &--active {
    background-color: rgb(186, 184, 178);
  }
}
