.checkbox {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;

  font-size: 2rem;

  color: rgba(128, 128, 128, 0.5);
}

.checkbox__control {
  display: inline-grid;

  width: 1em;
  height: 1em;

  border: 0.1em solid currentColor;
  border-radius: 0.25em;

  svg {
    transition: transform 0.1s ease-in 25ms;
    transform: scale(0);
    transform-origin: bottom left;
  }
}

.checkbox__input {
  display: grid;
  grid-template-areas: "checkbox";

  > * {
    grid-area: checkbox;
  }

  input {
    width: 1em;
    height: 1em;

    opacity: 0;

    &:checked + .checkbox__control svg {
      transform: scale(1);
    }

    &:disabled + .checkbox__control {
      color: var(--disabled);
    }
  }
}
