.footer {
  padding: 41px 0 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__inner {
  display: flex;
  margin-bottom: 42px;
}

.footer__socials {
  margin-left: 58px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  * + * {
    margin-left: 20px;
  }
}
