.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 41px 0 10px;
}

.footer__inner {
  display: flex;

  margin-bottom: 42px;
}

.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  margin-left: 58px;

  * + * {
    margin-left: 20px;
  }
}
