@use "abstracts" as *;

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  z-index: 1000;

  height: 87px;

  display: flex;
  justify-content: space-between;

  padding: 10px 62px;

  background-color: var(--clr-black-opacity-500);

  border-bottom: 2px solid var(--clr-white-opacity-800);
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  @include mq(medium-m) {
    display: none;
  }

  ul {
    display: flex;
  }
}

.header__nav-links {
  * + * {
    margin-left: 40px;

    @include mq(large-m) {
      margin-left: 10px;
    }

    @include mq(large-s) {
      margin-left: 5px;
    }
  }

  li,
  li > a {
    position: relative;

    min-width: 143px;

    &:hover,
    &:focus {
      &::after {
        content: "";

        position: absolute;
        bottom: -35px;
        left: 50%;

        width: 50%;
        height: 2px;

        background-color: var(--clr-yellow);

        transform: translateX(-50%);
      }
    }
  }
}

.header__nav-contacts {
  margin-left: 44px;


  color: var(--clr-cian);

  @include mq(large-m) {
    margin-left: 15px;
  }

  @include mq(large-s) {
    margin-left: 5px;
  }

  * + * {
    margin-left: 15px;
  }
}

.header__nav-languages {
  margin-left: 44px;


  color: var(--clr-cian);

  * + * {
    margin-left: 15px;
  }

  li {
    &:not(:last-of-type)::after {
      content: "|";

      margin-left: 15px;
    }
  }
}
