.link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 226px;
  height: 50px;

  font-size: var(--fs-300);
  line-height: 18px;
  font-weight: 500;
  text-align: center;

  color: var(--clr-black);

  &:hover,
  &:focus {
    outline: 1px solid rgb(220, 220, 220);
  }

  &--theme--ghost {
    border: 1px solid var(--clr-white-opacity-800);

    color: var(--clr-white);
    background-color: var(--clr-black-opacity-900);
  }

  &--theme--winter {
    background-color: var(--clr-white);
    color: var(--clr-black);
  }

  &--style--sky {
    background-color: var(--clr-light-blue);
    color: var(--clr-black);
  }
}
