.slide {
  position: relative;
}

.slide__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide__image {
  margin-bottom: 74px;
}

.slide__title {
  max-width: 32ch;

  margin-bottom: 57px;

  color: var(--clr-white);
}

.slide__buttons-wrapper {
  display: flex;
}
