.slide {
  position: relative;
}

.slide__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide__image {
  margin-bottom: 74px;
}

.slide__title {
  max-width: 32ch;

  margin-bottom: 57px;

  font-size: var(--fs-800);
  line-height: 62px;
  text-align: center;

  color: var(--clr-white);

  text-transform: uppercase;

  .bold {
    font-weight: bold;
  }
}

.slide__buttons-wrapper {
  display: flex;
}