@use 'abstracts' as *;
@use 'base' as *;
@use 'components' as *;
@use './utilities/container' as *;
@use './utilities/hidden' as *;

html {
  scroll-behavior: smooth;
}

.slides {
  height: 963px;
  overflow: hidden;
}

.introduction {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1256px;
  margin: 0 auto;

  padding: 142px 0 53px;

  @include mq(medium-s) {
    padding: 82px 0 33px;
  }
}

.introduction__aside {
  font-size: 37px;
  line-height: 44px;
  color: #000000;
  font-family: "Myriad Pro";
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;

  img {
    margin-bottom: 18px;
  }

  h2 {
    margin-left: 5px;
  }

  @include mq(medium-s) {
    display: none;
  }
}

.introduction__content {
  font-family: "Myriad Pro";
  font-weight: normal;
  font-style: normal;

  margin-left: 104px;

  font-size: 22px;
  color: #000000;

  p {
    max-width: 64ch;
  }

  @include mq(medium-s) {
    margin: auto;
  }
}

p {
  margin: 36px 0;
}

.bold {
  font-family: "Myriad Pro";
  font-weight: bold;
  font-style: normal;
}

blockquote {
  font-size: 32px;
  color: #000000;
  font-family: "Myriad Pro";
  font-weight: bold;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  margin: 100px 0 100px 5px;
  padding: 58px 115px;
  border: 4px solid #53d0fb;

  @include mq(medium-s) {
    max-width: 44ch;
    padding: 38px 75px;
  }
}

.infographics {
  display: flex;
  justify-content: space-between;

  width: 100%;
  background-color: #f4f4f4;

  padding: 68px 270px 52px;

  @include mq(medium) {
    padding: 68px 100px 52px;
  }
}

.infographics__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::before {
    position: absolute;
    left: -32px;
    bottom: -25px;

    font-size: 100px;
    color: #000000;
    font-weight: bold;
    font-style: normal;
    font-family: "Geometria";
    text-align: center;
  }

  &:nth-of-type(2) {
    .infographics__item-title,
    .infographics__item-description {
      margin-right: -49px;
    }
  }

  &:nth-of-type(1)::before {
    content: "1";
  }

  &:nth-of-type(2)::before {
    content: "2";
    font-weight: bold;
    font-family: "Myriad Pro";
  }

  &:nth-of-type(3)::before {
    content: "3";
    font-weight: bold;
    font-family: "Myriad Pro";
  }
}

.infographics__item-title {
  margin-top: 48px;
  margin-bottom: 0px;

  font-size: 30px;
  color: #000000;
  font-weight: bold;
  font-family: "Myriad Pro";
  font-style: normal;

  padding-left: 14px;
}

.infographics__item-description {
  padding-left: 14px;

  width: 100%;
  margin: 0;
  font-size: 18px;
  color: #000000;
  font-family: "Geometria";
  font-weight: normal;
  font-style: normal;
  max-width: 16ch;
}

.performance {
  padding-top: 142px;
  padding-bottom: 190px;
  width: 100%;
  max-width: 1207px;
  margin: 0 auto;

  @include mq(medium-s) {
    padding-top: 102px;
    padding-bottom: 150px;
  }
}

.performance__title {
  font-size: 37px;
  line-height: 44px;
  color: #000000;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  font-family: "Myriad Pro";
  text-align: center;
  max-width: 42ch;
  margin: 0 auto;
  margin-bottom: 34px;

  @include mq(medium-s) {
    max-width: 35ch;
    margin-bottom: 50px;
  }
}

.performance__article {
  position: relative;
  display: flex;
  justify-content: space-between;

  &:not(:last-of-type) {
    margin-bottom: 100px;
  }

  .performance__article-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .performance__article-image {
    @include mq(medium-s) {
      width: 500px;
      height: 350px;
    }
  }

  .performance__article-title {
    position: absolute;
    top: 36px;
    left: -10px;
    display: inline-block;
    font-size: 36px;
    color: #000000;
    font-weight: bold;
    font-family: "Myriad Pro";
    text-transform: uppercase;
    border: 3px solid #53d0fb;
    padding: 55px 25px 55px 46px;
    background-color: rgba(255, 255, 255, 0.4);

    @include mq(medium-s) {
      top: 12px;
      left: 115px;
      padding: 35px 25px 35px 36px;
    }
  }

  .performance__article-description {
    font-size: 24px;
    color: #000000;
    font-weight: 300;
    font-family: "Geometria";
    text-transform: lowercase;
    max-width: 17ch;
    margin-left: 30px;

    @include mq(medium-s) {
      margin-left: 70px;
      margin-bottom: -20px;
    }
  }

  .performance__link {
    margin: 30px 0 50px 40px;

    @include mq(medium-s) {
      margin: 38px 0 27px 79px;
    }
  }
}

.performance__article--type--reversed {
  display: flex;
  flex-direction: row-reverse;

  .performance__article-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .performance__article-title {
    top: 36px;
    left: inherit;
    right: -10px;
    padding: 55px 50px 55px 242px;

    @include mq(medium-s) {
      top: 18px;
      right: 130px;
      padding: 45px 40px 45px 222px;
    }
  }

  .performance__article-description {
    text-align: right;
    margin-left: 0;
    margin-right: 50px;

    &::first-letter {
      text-transform: uppercase;
    }

    @include mq(medium-s) {
      margin-left: 23px;
      margin-right: 105px;
      margin-bottom: -52px;
    }
  }

  .performance__link {
    margin: 30px 0 50px 70px;

    @include mq(medium-s) {
      margin: 73px 0 6px 67px;
    }
  }
}

.contacts {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 100px 390px;
  max-height: 678px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/images/last/background.png);
    z-index: -1;
  }

  @include mq(medium-s) {
    padding: 100px 91px;
  }
}

.contacts__inner {
  margin-right: 105px;
}

.contacts__list {
  min-width: 195px;
}

.contacts__title,
.feedback__title {
  font-size: 25px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Myriad Pro";
  margin-bottom: 70px;
}

.contacts__title {
  margin-left: -35px;
}

.contacts__item {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
  font-family: "Myriad Pro";
  max-width: 25ch;

  &:not(:last-of-type) {
    margin-bottom: 52px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: -35px;
  }

  &:nth-of-type(1)::before {
    content: url(/images/last/icon-address.png);
    top: 10px;
  }

  &:nth-of-type(2)::before {
    content: url(/images/last/icon-phone.png);
    top: 10px;
  }

  &:nth-of-type(3)::before {
    content: url(/images/last/icon-mail.png);
  }

  &:nth-of-type(4)::before {
    content: url(/images/last/icon-website.png);
  }
}

.feedback__form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  column-gap: 30px;

  @include mq(medium-s) {
    column-gap: 20px;
    max-width: 606px;
  }

  label {
    position: relative;
  }

  .error {
    position: absolute;
    bottom: -23px;
    left: 0;
    color: lightcoral;
  }

  input {
    width: 100%;
    height: 44px;
    border: 1px solid #ffffff;
    font-size: 15px;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-weight: normal;
    font-style: normal;
    background-color: rgba(4, 0, 19, 0.1);
    padding: 18px 0 18px 13px;

    @include mq(medium-s) {
      max-width: 130px;
    }

    &::placeholder {
      opacity: 1;
      text-transform: uppercase;
    }
  }

  textarea {
    grid-column: 1/4;

    height: 200px;
    border: 1px solid #ffffff;
    font-size: 15px;
    color: #ffffff;
    background-color: rgba(4, 0, 19, 0.1);
    font-family: "Myriad Pro";
    font-weight: normal;
    font-style: normal;
    padding: 14px;
    resize: none;
    margin-top: 30px;
    margin-bottom: 75px;

    @include mq(medium-s) {
      max-width: 471px;
      margin-bottom: 42px;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      opacity: 1;
      text-transform: uppercase;
    }
  }

  .feedback__link {
    @include mq(medium-s) {
      display: inline-block;
      max-width: 151px;
    }
  }

  .feedback__gratitude {
    grid-column: 2/4;
    margin: 0;
    font-size: 20px;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-weight: 500;
    font-style: normal;
    max-width: 30ch;
    line-height: 30px;
    margin-left: 10px;

    @include mq(medium-s) {
      font-size: 17px;
    }
  }
}

.underline {
  text-decoration: underline;
}
