@use 'abstracts' as *;
@use 'base' as *;
@use 'components' as *;
@use 'utilities' as *;

// GENERAL =================================================>

html {
  scroll-behavior: smooth;
}

p {
  margin: 36px 0;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

// SLIDES ===============================================>

.slides {
  height: 963px;

  overflow: hidden;
}

// Introduction =========================================>

.introduction {
  width: 100%;
  max-width: 1256px;

  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  padding: 142px 0 53px;

  @include mq(medium-s) {
    padding: 82px 0 33px;
  }
}

.introduction__aside {
  font-size: var(--fs-700);
  line-height: 44px;

  color: var(--clr-black);

  @include mq(medium-s) {
    display: none;
  }

  img {
    margin-bottom: 18px;
  }

  h2 {
    margin-left: 5px;
  }
}

.introduction__content {
  margin-left: 104px;

  font-size: var(--fs-400);

  color: var(--clr-black);

  @include mq(medium-s) {
    margin: auto;
  }

  p {
    max-width: 64ch;
  }
}

.blockquote {
  margin: 100px 0 100px 5px;
  padding: 58px 115px;

  font-size: var(--fs-600);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  border: 4px solid var(--clr-light-blue);

  color: var(--clr-black);

  @include mq(medium-s) {
    max-width: 44ch;
    
    padding: 38px 75px;
  }
}

// Infographics ==============================================>

.infographics {
  width: 100%;

  display: flex;
  justify-content: center;

  padding: 68px 0 52px;

  background-color: var(--clr-light-gray);
}

.infographics__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  &:not(:last-of-type) {
    margin-right: 150px;
  }

  &::before {
    position: absolute;
    left: -32px;
    bottom: -25px;

    font-family: "Geometria";
    font-size: var(--fs-900);
    font-weight: bold;
    text-align: center;

    color: var(--clr-black);
  }

  &:nth-of-type(2) {
    .infographics__item-title,
    .infographics__item-description {
      margin-right: -49px;
    }
  }

  &:nth-of-type(1)::before {
    content: "1";
  }

  &:nth-of-type(2)::before {
    content: "2";

    font-weight: bold;
  }

  &:nth-of-type(3)::before {
    content: "3";

    font-weight: bold;
  }
}

.infographics__item-title {
  margin-top: 48px;
  margin-bottom: 0px;
  padding-left: 14px;

  font-size: var(--fs-550);
  font-weight: bold;

  color: var(--clr-black);
}

.infographics__item-description {
  width: 100%;
  max-width: 16ch;

  margin: 0;
  padding-left: 14px;

  font-family: "Geometria";
  font-size: var(--fs-300);

  color: var(--clr-black);
}

// Performance ==============================================>

.performance {
  width: 100%;
  max-width: 1207px;

  margin: 0 auto;
  padding-top: 142px;
  padding-bottom: 190px;
}

.performance__title {
  max-width: 42ch;

  margin: 0 auto;
  margin-bottom: 34px;

  font-size: var(--fs-700);
  line-height: 44px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  color: var(--clr-black);
}

.performance__article {
  display: flex;
  justify-content: space-between;

  position: relative;

  &:not(:last-of-type) {
    margin-bottom: 100px;
  }
}

.performance__article-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.performance__article-title {
  display: inline-block;

  position: absolute;
  top: 36px;
  left: -10px;

  padding: 55px 25px 55px 46px;

  font-size: var(--fs-700);
  font-weight: bold;
  text-transform: uppercase;

  border: 3px solid var(--clr-light-blue);

  color: var(--clr-black);
  background-color: var(--clr-white-opacity-600);
}

.performance__article-description {
  max-width: 17ch;

  margin-left: 30px;

  font-family: "Geometria";
  font-size: var(--fs-500);
  font-weight: 300;
  text-transform: lowercase;

  color: var(--clr-black);
}

.performance__link {
  margin: 30px 0 50px 40px;
}

.performance__article--type--reversed {
  display: flex;
  flex-direction: row-reverse;

  .performance__article-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .performance__article-title {
    top: 36px;
    left: inherit;
    right: -10px;

    padding: 55px 50px 55px 242px;
  }

  .performance__article-description {
    margin-left: 0;
    margin-right: 50px;

    text-align: right;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  .performance__link {
    margin: 30px 0 50px 70px;
  }
}

// Contacts =================================================>

.contacts {
  display: flex;
  justify-content: center;

  position: relative;

  max-height: 678px;

  padding: 100px 0;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    background-image: url(/images/contacts/background.png);
  }

  @include mq(medium-s) {
    padding: 100px 0;
  }
}

.contacts__inner {
  margin-right: 105px;
}

.contacts__list {
  min-width: 195px;
}

.contacts__title,
.feedback__title {
  margin-bottom: 70px;

  font-size: var(--fs-500);
  font-weight: bold;
  text-transform: uppercase;

  color: var(--clr-white);
}

.contacts__title {
  margin-left: -35px;
}

.contacts__item {
  position: relative;

  max-width: 25ch;

  font-size: var(--fs-200);
  line-height: 22px;

  color: var(--clr-white);

  &:not(:last-of-type) {
    margin-bottom: 52px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: -35px;
  }

  &:nth-of-type(1)::before {
    content: url(/images/contacts/icon-address.png);

    top: 10px;
  }

  &:nth-of-type(2)::before {
    content: url(/images/contacts/icon-phone.png);

    top: 10px;
  }

  &:nth-of-type(3)::before {
    content: url(/images/contacts/icon-mail.png);
  }

  &:nth-of-type(4)::before {
    content: url(/images/contacts/icon-website.png);
  }
}

// Feedback ==================================================>

.feedback__form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  column-gap: 30px;

  @include mq(medium-s) {
    column-gap: 20px;

    max-width: 606px;
  }

  label {
    position: relative;

    .error {
      position: absolute;
      bottom: -25px;
      left: 0;
  
      color: var(--clr-light-pink);
    }
  }
}

.feedback__input-name,
.feedback__input-phone,
.feedback__input-email {
  width: 100%;
  height: 44px;

  padding: 18px 0 18px 13px;

  font-size: var(--fs-150);

  border: 1px solid var(--clr-white);

  color: var(--clr-white);
  background-color: var(--clr-black-opacity-900);

  @include mq(medium-s) {
    max-width: 130px;
  }

  &::placeholder {
    text-transform: uppercase;

    opacity: 1;
  }
}

.feedback__message {
  grid-column: 1/4;

  height: 200px;

  margin-top: 30px;
  margin-bottom: 75px;
  padding: 14px;

  font-size: var(--fs-150);

  border: 1px solid var(--clr-white);

  color: var(--clr-white);
  background-color: var(--clr-black-opacity-900);

  resize: none;

  @include mq(medium-s) {
    max-width: 471px;

    margin-bottom: 42px;
  }

  &:focus {
    outline: none;
  }

  &::placeholder {
    opacity: 1;

    text-transform: uppercase;
  }
}

.feedback__link {
  @include mq(medium-s) {
    display: inline-block;

    max-width: 151px;
  }
}

.feedback__gratitude {
  grid-column: 2/4;

  max-width: 30ch;

  margin: 0;
  margin-left: 10px;

  font-size: var(--fs-350);
  font-weight: 500;
  line-height: 30px;

  color: var(--clr-white);

  @include mq(medium-s) {
    font-size: var(--fs-200);
  }
}