@use "font-face" as *;
@use "abstracts" as *;

// FONT FAMILY ==============================>
body {
  font-family: "Myriad Pro";
}

.burgermenu li,
.header__nav-links,
.aside-socials__text,
.infographics__item::before,
.infographics__item-description,
.performance__article-description {
  font-family: "Geometria";
}

// FONT SIZES ===============================>
.infographics__item::before {
  font-size: var(--fs-900);
}

.slide__title {
  font-size: var(--fs-800);
}

.introduction__title,
.performance__title,
.performance__article-title {
  font-size: var(--fs-700);
}

.blockquote,
.checkbox {
  font-size: var(--fs-600);
}

.infographics__item-title {
  font-size: var(--fs-550);
}

.performance__article-description,
.contacts__title,
.feedback__title {
  font-size: var(--fs-500);
}

.introduction__content,
.burgermenu li {
  font-size: var(--fs-400);
}

.feedback__gratitude {
  font-size: var(--fs-350);
}

.link,
.infographics__item-description {
  font-size: var(--fs-300);
}

.contacts__item {
  font-size: var(--fs-200);
}

.feedback__gratitude {
  @include mq(small-s) {
    font-size: var(--fs-200);
  }
}

.header__nav-contacts,
.header__nav-languages,
.feedback__input-name,
.feedback__input-phone,
.feedback__input-email,
.feedback__message {
  font-size: var(--fs-150);
}

.header__nav-links {
  font-size: var(--fs-100);
}

.aside-socials__text {
  font-size: var(--fs-50);
}

// FONT WEIGHT  =============================>
.bold,
.blockquote,
.infographics__item::before,
.infographics__item:nth-of-type(2)::before,
.infographics__item:nth-of-type(3)::before,
.infographics__item-title,
.performance__title,
.performance__article-title,
.contacts__title,
.feedback__title {
  font-weight: bold;
}

.feedback__gratitude,
.aside-socials__text,
.link {
  font-weight: 500;
}

body {
  font-weight: normal;
}

.performance__article-description {
  font-weight: 300;
}

// FONT STYLE  =============================>
body {
  font-style: normal;
}

// TEXT TRANSFORM =============================>
.header__nav,
.slide__title,
.contacts__title,
.feedback__title,
.performance__title,
.performance__article-title,
.blockquote,
.feedback__input-name::placeholder,
.feedback__input-phone::placeholder,
.feedback__input-email::placeholder,
.feedback__message::placeholder {
  text-transform: uppercase;
}

.performance__article-description {
  text-transform: lowercase;
}

// TEXT DECORATION ============================>
.underline {
  text-decoration: underline;
}

// TEXT ALIGN =================================>
.blockquote,
.infographics__item::before,
.performance__title,
.aside-socials__text,
.header__nav-links,
.header__nav-links li,
.header__nav-links li > a,
.header__nav-contacts,
.header__nav-languages,
.link,
.slide__title {
  text-align: center;
}

.performance__article--type--reversed {
  .performance__article-description {
    text-align: right;
  }
}

// LINE HEIGHT  =============================>
.introduction__title,
.performance__title {
  line-height: 44px;
}

.feedback__gratitude {
  line-height: 30px;
}

.contacts__item {
  line-height: 22px;
}

.link {
  line-height: 18px;
}

.slide__title {
  line-height: 62px;
}

.header__nav-contacts,
.header__nav-languages {
  line-height: 0.9;
}

// LETTER SPACING  =============================>
.header__nav-contacts,
.header__nav-languages {
  letter-spacing: 1px;
}